* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "bakh";
  src: url(../TDpopUp/public/fonts/YekanBakhFaNum/OTF/YekanBakhFaNum-SemiBold.otf);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  font-family: "bakh";
  .modalCartContainer {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    background-color: lightgray;

    padding-bottom: 2rem;
    .backCart {
      width: 100%;
      height: 100%;
      max-width: 491px;
      max-height: 419px;
      background-color: #eeeeee;
      transform: rotate(357deg);
      border-radius: 1rem;
      box-shadow: 0 0 5px -3px;
      .backCart2 {
        width: 100%;
        height: 100%;
        max-width: 491px;
        max-height: 419px;
        background-color: #eeeeee;
        transform: rotate(366deg);
        border-radius: 1rem;
        box-shadow: 0 0 5px -3px;
        .ModalsCarts {
          max-width: 491px;
          max-height: 419px;
          width: 100%;
          height: 100%;
          position: relative;
          transform: rotate(-3deg);
          background-color: #fff;
          border-radius: 1rem;
          box-shadow: 0 0 5px -3px;
          display: flex;
          padding: 2rem;
          > img {
            position: absolute;
            width: 27rem;
            top: -20.4rem;
            left: 50%;
            transform: translateX(-50%);
          }

          .mainContentContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 2rem;

            .progressContainer {
              display: flex;
              align-items: center;
              justify-content: space-between;
              direction: ltr;
              > i {
                font-size: 1.5rem;
                color: #36363673;
                cursor: pointer;
              }
              .rightContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                .prograss {
                  display: block;
                  width: 4.5rem;
                  height: 4px;
                  border-radius: 10px;
                  margin: 2px;
                  background-color: #d9d9d9;

                  &.green {
                    background-color: #1da922;
                  }
                }
              }
            }

            .contentContainer {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              &.mid {
                justify-content: center;
                height: 5rem;
              }
              .checkBoxContainer {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .checkboxItem {
                  font-size: 1rem;
                  display: flex;
                  cursor: pointer;
                  gap: 1rem;

                  .checkbox-wrapper-30 {
                    .checkbox {
                      --bg: #fff;
                      --brdr: #d1d6ee;
                      --brdr-actv: #1e2235;
                      --brdr-hovr: #bbc1e1;
                      --dur: calc((var(--size, 2) / 2) * 0.6s);

                      display: inline-block;
                      width: calc(var(--size, 1) * 22px);
                      position: relative;

                      &::after {
                        content: "";
                        width: 100%;
                        padding-top: 100%;
                        display: block;
                      }

                      > * {
                        position: absolute;
                      }

                      input {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -webkit-tap-highlight-color: transparent;
                        cursor: pointer;
                        background-color: var(--bg);
                        border-radius: calc(var(--size, 1) * 4px);
                        border: calc(var(--newBrdr, var(--size, 1)) * 1px) solid;
                        color: var(--newBrdrClr, var(--brdr));
                        outline: none;
                        margin: 0;
                        padding: 0;
                        transition: all calc(var(--dur) / 3) linear;

                        &:hover,
                        &:checked {
                          --newBrdr: calc(var(--size, 1) * 2);
                        }

                        &:hover {
                          --newBrdrClr: var(--brdr-hovr);
                        }

                        &:checked {
                          --newBrdrClr: var(--brdr-actv);
                          transition-delay: calc(var(--dur) / 1.3);
                        }

                        &:checked + svg {
                          --dashArray: 16 93;
                          --dashOffset: 109;
                        }
                      }

                      svg {
                        fill: none;
                        left: 0;
                        pointer-events: none;
                        stroke: var(--stroke, var(--border-active));
                        stroke-dasharray: var(--dashArray, 93);
                        stroke-dashoffset: var(--dashOffset, 94);
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-width: 2px;
                        top: 0;
                        transition: stroke-dasharray var(--dur),
                          stroke-dashoffset var(--dur);

                        display: block;
                        height: 100%;
                        width: 100%;
                      }

                      input,
                      svg {
                        display: block;
                        height: 100%;
                        width: 100%;
                      }
                    }
                  }

                  > input {
                  }
                  > span {
                    font-weight: 200 !important;
                  }
                }
              }

              .submitOpnion {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                gap: 2rem;
                > input {
                  width: 100%;
                  padding-block: 0.7rem;
                  padding-right: 0.7rem;
                  border-radius: 0.5rem;
                  border: 2px solid #2086c8;
                  background-color: rgba(32, 134, 200, 0.1294117647);
                  font-family: "bakh";
                }
                > button {
                  width: 100%;
                  padding-block: 0.7rem;
                  border-radius: 0.5rem;
                  color: #fff;
                  background-color: #2084c8;
                  border: none;
                  font-family: "bakh";
                  font-weight: 900;
                  font-size: 1.1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.hiden {
  display: none !important;
}
.show {
  display: block !important;
}
.previousQ {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.7rem;
  > p {
    cursor: pointer;
  }
}
